{% extends "dispatch_to_support/dashboard_base.html" %} 

{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block body %}

<div class="row">
     <div class="col offset-m2 offset-l2 s12 m8 l8 flow-text">

    {% if form.errors %}
        <p class="center-align">
            Your username and password didn't match. Please try again.
        </p>
    {% endif %} 
    {% if next %} 
        {% if user.is_authenticated %}
            <p class="center-align">
                Your account doesn't have access to this page. To proceed, please login with an account that has access.
            </p>
        {% else %}
            <p class="center-align">Please login to see this page.</p>
        {% endif %} 
    {% endif %} 

        <form name="loginform" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username }} 
                    {{ form.username.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">security</i>
                    {{ form.password }} 
                    {{ form.password.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn-large waves-effect waves-light red darken-1 right" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}

{% block scripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> {% endcomment %}
{% comment %} <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" {% endcomment %}
    {% comment %} crossorigin="anonymous"></script> {% endcomment %}
 <script src="{% static 'js/login.js' %}"></script> 
{% endblock scripts %}