{% extends "dispatch_to_support/dashboard_base.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock title %}


{% block body %}
<div class="row">
    <div class="col s12">
        <h2>Dashboard</h2>
        <p><a href="{% url 'dispatch_to_support:queue' %}">Jobs queue</a></p>
        <section>
            <p>Your open tickets:</p>
            <ol>
                {% for ticket in open_tickets %}
                <li><a href="{% url 'dispatch_to_support:ticket-update' pk=ticket.pk %}">{{ ticket.feedback }}</a></li>
                {% endfor %}
            </ol>
        </section>
    </div>
</div>
{% endblock body %}

  
{% block scripts %}
<script src="{% static 'dispatch_to_support/js/dashboard.js' %}"></script>
{% endblock scripts %}

    