<div class="section no-pad-bot" id="index-banner">

    <div class="row">
        <div class="col s12">
            <h1 class="header center deep-orange-text text-darken-4">Opinions App <span class="black-text"> Demo</span></h1>
            <div class="row center">
                <h5 class="header col s12 light">App for processing customer feedback.</h5>
                <h5 class="header col s12 light">Prioritized by <em>emotions.</em></h5>
            </div>
        </div>
    </div>
</div>

<div class="section">

    <!--   Icon Section   -->
    <div class="row">

        <div class="col s12 m6 l6">
            <div class="icon-block center">
                <h2 class="deep-orange-text text-darken-4"><i class="large material-icons">group</i></h2>
                <a class="waves-effect waves-light btn-large" onclick="$('.tap-target').tapTarget('open')">Go to tasks</a>
                
            </div>
        </div>

        <div class="col s12 m6 l6">
            <div class="icon-block center">
                <h2 class="center deep-orange-text text-darken-4"><i class="large material-icons">message</i></h2>
                <a class="waves-effect waves-light btn-large" href="https://mikbhub.github.io/formJs/index.html" target="_newtab">Write new opinion</a>
            </div>
        </div>

    </div>

</div>

<!--   Feature discovery   -->
<div class="tap-target red" data-activates="tasks-link">
    <div class="tap-target-content white-text">
        <h5>Go to tasks</h5>
        <p class="white-text light">View open tasks, get new tasks, respond to feedback and close open tickets.</p>
        <p class="white-text light">Username: <strong>customer_support_person</strong></p>
        <p class="white-text light">Password: <strong>OpinionsAppDemo</strong></p>
    </div>
</div>