<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Get in touch</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/miko%C5%82aj-babiak-a27a7250/">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Contribute</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/mikbhub/Opinions-App">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>