{% extends "dispatch_to_support/dashboard_base.html" %}
{% load static %}

{% block title %}
  queue
{% endblock title %}


{% block body %}

<div class="row">

    <div class="col s12 m8 l8">
        <p class="flow-text center-align">Your open tickets</p>
        {% include "dispatch_to_support/tickets_open_list.html" %}
    </div>
    <div class="col s12 m4 l4 center-align">
        <p class="flow-text">Qeue</p>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn-large waves-effect waves-light" type="submit" name="action">Get next task
                <i class="material-icons right">queue</i> 
            </button>
        </form>
    </div>
   
{% endblock body %}


{% block footer %}  
{% endblock footer %}


{% block scripts %}
<script src="{% static 'dispatch_to_support/js/tasks.js' %}"></script>
{% endblock scripts %}
