{% extends "dispatch_to_support/dashboard_base.html" %}
{% load static %}

{% block title %}
  Tasks
{% endblock title %}


{% block body %}

<div class="row">

    <div class="col s12 offset-m2 offset-l2 m8 l8">
        <p class="flow-text center-align">Your open tickets</p>
        {% include "dispatch_to_support/tickets_open_list.html" %}
    </div>

    {% include "dispatch_to_support/task_get_next_button.html" %}
   
{% endblock body %}


{% block footer %}  
{% endblock footer %} 


{% block scripts %}
<script src="{% static 'dispatch_to_support/js/tasks.js' %}"></script>
<script src="{% static 'dispatch_to_support/js/next_task.js' %}"></script>
{% endblock scripts %}
