{% extends "dispatch_to_support/dashboard_base.html" %}

{% block title %}
    queue
{% endblock title %}


{% block body %}
<div class="row">
    <div class="col s12">
        <h2>Qeue</h2>
        {% if feedback %}
            <p>gen: {{gen}}</p>
            <p>queue: {{queue}}</p>
            <p>sentiment: {{sentiment}}</p>
            <p>customer: {{feedback.customer}}</p>
            <p>source_url: <a href="{{feedback.source_url}}">{{feedback.1.source_url}}</a></p>
            <p>text: {{feedback.text}}</p>
        {% else %}
            <p>No more feedback to process</p>
        {% endif %}
    </div>
</div>
{% endblock body %}
    