{% extends "dispatch_to_support/dashboard_base.html" %}
{% load static %}


{% block title %}
    Ticket Update View
{% endblock title %}


{% block body %}
    <div class="row">
        <div class="col s12 m12 l12">
             <p class="flow-text center-align">Ticket Update</p> 
            {% include "dispatch_to_support/ticket_details.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <p class="flow-text center-align">Previous responses</p>
            {% include "dispatch_to_support/response_list.html" %}
        </div>

        <div class="col s12 m6 l6">
            <p class="flow-text center-align">Past tickets for {{object.feedback.customer.name}}            </p>
            {% include "dispatch_to_support/ticket_past_list.html" %}
        </div>
    </div>

    
    <!-- floating button -->
    <div class="fixed-action-btn toolbar">
        <a class="btn-large waves-effect waves-light red">Edit ticket
        <i class="large material-icons right">mode_edit</i>
        </a>
        <ul>
            <li class="waves-effect waves-light" id="response-create">
                <form action="{% url 'dispatch_to_support:response-create' ticket_pk=object.pk %}" method="GET">
                    <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Respond to feedback">
                    <i class="material-icons">forum</i>
                </a>
                </form>
            </li>
            <li class="waves-effect waves-light" id="ticket-close">
                <form action="" method="POST">
                    {% csrf_token %}
                    <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Close the ticket" href="#!">
                    <i class="material-icons">done_all</i>
                </a>
                </form>
            </li>
        </ul>
    </div>

{% endblock body %}


{% block footer %}  
{% endblock footer %}


{% block scripts %}
<script src="{% static 'dispatch_to_support/js/ticket_update.js' %}"></script>
{% endblock scripts %}
