{% extends "base.html" %}

{% block title %}
    ticket
{% endblock title %}

{% block body %}
    <h2>Ticket</h2>
    <p>Status: {{object.get_status_display}}</p>
    <p>Feedback: {{object.feedback}}</p>
    <p>Customer Name: {{object.feedback.customer.name}}, <a href="mailto:{{object.feedback.customer.email}}">Send Mail</a></p>
    <p>Source_type: {{object.feedback.source_type}}</p>
    <p>Source_url: {{object.feedback.source_url}}</p>
    <p>Text: {{object.feedback.text}}</p>
    <input type="submit" name="" value="Close ticket">
{% endblock body %}