<div class="card">
    <div class="card-content">
        <p class="card-title">Ticket details</p>
        <p>
            <strong>{{object.feedback.customer.name}}</strong> writes:
        </p>
        <blockquote class="light">{{object.feedback.text}}</blockquote>
    </div>
    <div class="card-action">
        <div class="chip">
            {{object.get_status_display}}
        </div>
        <div class="chip">
            <a href="{{object.feedback.source_url}}">{{object.feedback.source_type}}</a>
        </div>
        <div class="chip">
            {{ object.feedback.date }}
        </div>
        {% if object.feedback.metrics.sentiment > 0 %}
            <div class="chip green ligten-2">
        {% else %}
            <div class="chip red lighten-2">
        {% endif %}
            Sentiment: {{object.feedback.metrics.sentiment}}
        </div>
    </div>
</div>